* {
    outline: none;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
body{
    background: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}
h3, b {
    font-weight: 500;
}

li {
    list-style: none;
}
ul {
    padding-left: 0;
}

.container{
    width: 850px;
    margin: 0 auto;
}
.light{
    font-weight: 300;
}
.grey{
    color: #6b7886;
}
.black{
    color: #000;
}
.bold{
    font-weight: 500;
}
header {
    width: 100%;
    height: 80px;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header a {
    color: #ffb51d;
    transition: .4s color;
    font-size: 18px;
}

header a:hover {
    color: #fff902;
}
.name {
    padding-left: 24px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}
.specialization{
    font-size: 46px;
    margin-bottom: 0;
}
.title > .right {
    padding-top: 90px;
}
.title .info {
    margin-left: 24px;
}
.title .info h4:nth-child(1){
    margin-top: 0;
}
.main-skills{
    margin-top: 0;
    font-weight: 400;
    font-size: 38px;
}
.ava-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ava {
    border-radius: 50%;
    width: 215px;
}
.title>.right .row{
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
}
.title>.right .row i {
    margin-right: 12px;
}
.title>.right img{
    width: 20px;
    margin-right: 15px;
}
.title>.right .row .right{
    width: 190px;
    font-weight: 500;
    font-size: 14px;
}
.title>.right .row{
    margin-top: 16px;
}

.info .left{
    font-weight: 400;
}

.about-me_text{
    line-height: 1.5;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-weight: 300;
}
.about-me_text strong {
    font-weight: 500;
}

.about-me_text-inner {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 300;
}
.about-me_text-inner:nth-last-child(1) {
    margin-bottom: 0;
}

.about-me_text__link{
    color: #4267b2;
    border-bottom: 1px solid;
}

.experience{
    border-top: 1px solid #6b7886;
    padding: 20px 0;
}
.experience h3{
    margin-top: 0;
    margin-bottom: 0;
}
.experience .company{
    font-style: italic;
    margin-bottom: 0;
}
.experience .black.bold{
    margin-left: 10px;
}
.experience .row{
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 700px;
}
.develup svg{
    height: 50px;
}
.develup img{
    height: 50px;
}
.left.selfllery{
    /*height: 60px;*/
}
.left.xovi img{
    max-height: 55px;
}
.left.selfllery svg{
    max-width: 100%;
    height: 55px;
}
.experience .row:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 10px;
    bottom: 0;
    height: 1px;
    background: #97a9b9;
}
.experience .row:nth-last-child(1):after{
    height: 0;
}
.experience .row .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}
.experience .row .right{
    width: calc(100% - 140px);
}
.experience .description {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
    width: calc(100% - 100px);
    max-width: 400px;
}
.experience .description b {
    color: #5f5f5f;
}
.experience .position-details {
    font-size: 85%;
    color: #5f5f5f;
}
.experience .position-time {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 45px;
    margin-top: 0;
}
.experience .position-time-absolute {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 20px;
}

.education{
    border-top: 1px solid #6b7886;
    padding: 25px 0;
}
.onpu{
    height: 85px;
}


.skills{
    border-top: 1px solid #6b7886;
    border-bottom: 1px solid #6b7886;
    padding: 20px 0;
}
.skills-wrap{
    display: flex;
    justify-content: flex-start;
}
.skills-wrap .col{
    margin-right: 50px;
}
.skills-wrap .col:nth-last-child(1){
    margin-right: 0;
}
.skills ul{
    padding-left:0;
}
.skills li{
    padding-left: 10px;
    width: 260px;
    min-height: 35px;
    background: #f1f1f1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}
.skills .soft-skills li {
    width: 300px;
}
.skills li:nth-child(2n){
    background: #e8e8e8;
}


.portfolio{
    padding: 10px 0;
    /*background: #d5d2d2;*/
    z-index: 3;
}
.portfolio a{
    margin: 0;
    padding: 0;
    font-size: 0;
}
.portfolio .img-wrap{
    overflow: hidden;
    position: relative;
    width: 260px;
    height: 150px;
    margin: 10px 0;
    padding: 0;
    z-index: 2;
}
.portfolio img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    margin: 0;
    padding: 0;
    width: 260px;
    height: 150px;
    transition: .5s all;
}
.portfolio img:hover{
    width: 300px;
    height: 170px;
    z-index: 1;
}
.portfolio-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#portfolio {
    border-top: 1px solid #6b7886;
    border-bottom: 1px solid #6b7886;
    padding: 20px 0;
}

#portfolio li {
    margin-top: 10px;
}
#portfolio a {
    color: #4267b2;
    border-bottom: 1px solid;
}
